{% extends 'flatpages/default.html' %}
{% load load custom_filters %}

{% block content %}
    <h1>Поиск новостей</h1>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Искать</button>
    </form>

    <h2>Результаты поиска</h2>
    {% for article in filter.qs %}
        <h2><a href="{% url 'post' article.id %}">{{ article.title|censor }}</a></h2>
        <p>{{ article.created_at|date:"d.m.Y" }}</p>
    {% empty %}
        <p>Нет новостей, соответствующих критериям поиска.</p>
    {% endfor %}
{% endblock %}